html,
body,
* {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  position: relative;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #292e3d;
  margin-bottom: 50px;
}
